@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
    list-style: none;
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

button {
    cursor: pointer;
}

fieldset {
    border: none;
}

main {
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
}

.container-banner {
    flex: 1;
    background-color: #262626;
}

.container-form {
    flex: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E6E6E6;
}

.form {
    width: 100%;
    min-height: 45rem;
    max-width: 38rem;
    padding: 4rem 5rem;
    display: flex;
    border-radius: 0.25rem;
    background-color: white;
    box-shadow: 0 0.125rem 0.313rem rgba(112, 112, 112, 0.4);
}

.form__step,
.form__body,
.dropdown {
    display: flex;
    flex-direction: column;
}

.form__step {
    width: 100%;
    border: 0;
}

.form__header {
    width: 100%;
}

.form__title {
    font-size: 2rem;
}

.form__description {
    font-size: 0.875rem;
    padding: 0.50rem 0;
}

.form__link {
    font-weight: 600;
    text-decoration: underline;
}

.form__body {
    width: 100%;
    padding: 2rem 0;
    gap: 1rem;
}

.dropdown {
    width: 100%;
    gap: 0.313rem;
    position: relative;
}

.dropdown__label {
    font-size: 0.875rem;
    font-weight: 600;
}

.field__input,
.dropdown__toggle,
.field__area {
    width: 100%;
    min-height: 2rem;
    padding: 0.313rem;
    border: 0.063rem solid #cfcfcf;
    border-radius: 0.188rem;
    background-color: white;
    font-size: 0.813rem;
}

.field__area {
    min-height: 5rem;
    resize: none;
}

.dropdown__toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #838383;
}

.dropdown__menu {
    width: 100%;
    max-height: 0;
    margin-top: 0.125rem;
    overflow: hidden;
    overflow-y: auto;
    opacity: 0;
    transform: translateY(-5px);
    font-size: 0.780rem;
    border: 0.063rem solid #cfcfcf;
    border-radius: 0.188rem;
    background-color: white;
    position: absolute;
    top: 100%;
    z-index: 10;
    pointer-events: none;
    transition:
        max-height 0.25s ease,
        opacity 0.2s ease,
        transform 0.2s ease;
}

.dropdown--open .dropdown__menu {
    max-height: calc(1.875rem * 5);
    opacity: 1;
    transform: translateY(0);
}

.dropdown__icon {
    transition: transform 0.25s ease;
}

.dropdown--open .dropdown__icon {
    transform: rotate(180deg);
}

.dropdown__item {
    min-height: 1.875rem;
    padding: 0 0.313rem;
    display: flex;
    align-items: center;
    gap: 0.313rem;
    font-size: 0.813rem;
    cursor: pointer;
}

.dropdown__item:hover {
    background-color: #e4e4e4;
}

.dropdown__item label {
    width: 100%;
    min-height: 1.875rem;
    display: flex;
    align-items: center;
    gap: 0.313rem;
    cursor: pointer;
}

.field {
    width: 100%;
    display: block;
}

.field__label {
    display: block;
    padding: 0.3rem 0;
    font-size: 0.8125rem;
    font-weight: 600;
}

.field__input::placeholder,
.field__area::placeholder {
    font-size: 0.780rem;
    color: #838383;
}

.form__actions {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.button {
    width: 100%;
    padding: 0.725rem 1rem;
    background-color: #7427F1;
    border: none;
    border-radius: 0.188rem;
    color: white;
    font-size: 0.875rem;
    font-weight: 600;
    box-shadow: 0 0.125rem 0.313rem rgba(124, 58, 237, 0.4);
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: #4d1aa1;
}

.toast {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: #262626;
    color: white;
    padding: 0.9rem 1.2rem;
    border-radius: 0.25rem;
    font-size: 0.85rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    opacity: 0;
    transform: translateY(20px);
    transition: all .3s ease;
    z-index: 999;
}

.toast--show {
    opacity: 1;
    transform: translateY(0);
}

